  .toolbar {
    height: 60px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }




  .column {
    float: left;
    padding: 10px;
    height: 600px; /* Should be removed. Only for demonstration */
  }

  .left {
    width: 14%;
    /* background-color:#aaa */
  }

  .middle {
    width: 71%;
    /* background-color: #bbb; */
  }

  .right {
    width: 11%;
    /* background-color:#ccc; */
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }