<!-- Toolbar -->
<div class="toolbar" role="banner">
    <mat-toolbar id="bankToolbar" *ngIf="isLoggedIn && isBank" color="accent">

        <button mat-button color="primary">Account</button>
        <button mat-button color="primary">User List</button>
        <button mat-button color="primary">Transactions</button>


    </mat-toolbar>
    <mat-toolbar id="userToolbar" *ngIf="isLoggedIn && !isBank" color="primary"></mat-toolbar>
    <div class="spacer"></div>
</div>

<main>

    <div class="row">
        <div *ngIf="isLoggedIn" class="column left">

        </div>
        <div class="column middle">
            <!-- <router-outlet></router-outlet> -->
            <!-- <app-account></app-account> -->
            <app-transaction-list></app-transaction-list>

            <!-- <app-user-list></app-user-list> -->


        </div>
        <div class="column right">

        </div>
    </div>


    <!-- Footer -->
    <footer>
    </footer>

</main>