<mat-card class="example-card">



    <mat-card-header>

        <mat-card-title>Transaction View</mat-card-title>

    </mat-card-header>

    <div>
        Transaction ID:
    </div>

    <div>
        Instrument:
    </div>

    <div>
        Sender Account Number:
    </div>

    <div>
        Sender Routing Number:
    </div>
    <div>
        Receiver Account Number:
    </div>

    <div>
        Receiver Routing Number:
    </div>

    <div>
        Currency:
    </div>


    <!-- <mat-card-actions>
        <button mat-button>CLOSE</button>

    </mat-card-actions> -->


    <style>
        body {
            text-align: center
        }
    </style>



    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>

        <h2>Muatations</h2>

        <table>
            <tr>
                <th>Debits</th>
                <th>Credits</th>
                <!-- <th>Country</th> -->
            </tr>
            <tr>
                <td>$</td>
                <td>$</td>
                <!-- <td>Germany</td> -->
            </tr>
            <tr>
                <td>$</td>
                <td>$</td>
                <!-- <td>Mexico</td> -->
            </tr>
            <tr>
                <td>$</td>
                <td>$</td>
                <!-- <td>Austria</td> -->
            </tr>
            <tr>
                <td>$</td>
                <td>$</td>
                <!-- <td>UK</td> -->
            </tr>
            <tr>
                <td>$</td>
                <td>$</td>
                <!-- <td>Canada</td> -->
            </tr>
            <tr>
                <td>$</td>
                <td>$</td>
                <!-- <td>Italy</td> -->
            </tr>
        </table>

    </body>









</mat-card>