<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Create Transaction</mat-card-title>
  </mat-card-header>
  <mat-card-content class="container">
    <div class="example-container">
      <mat-form-field>
        <input matInput (keydown.enter)="this.onSubmit()" #amt placeholder="Amount">
      </mat-form-field>

      <mat-form-field>
        <input matInput (keydown.enter)="this.onSubmit()" #instrument placeholder="Instrument">
      </mat-form-field>
      <mat-form-field>
        <input matInput (keydown.enter)="this.onSubmit()" (keydown.enter)="this.onSubmit()" #routingNum placeholder="Receiver's Routing Number">
      </mat-form-field>

      <mat-form-field>
        <input matInput (keydown.enter)="this.onSubmit()" #accountNum placeholder="Receiver's Account Number">
      </mat-form-field>


    </div>

    <h3></h3>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (keydown.enter)="this.onSubmit()" color="primary">Transfer</button>
    <button mat-raised-button (keydown.enter)="this.onUnsafeSubmit()" color="primary">Unsafe Transfer</button>
  </mat-card-actions>
</mat-card>