
<p>Transfer Money</p>
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Amount">
    </mat-form-field>
  
    <mat-form-field>
            <input matInput placeholder="Instrument">
    </mat-form-field>
    <mat-form-field>
            <input matInput placeholder="Routing Number">
    </mat-form-field>

    <mat-form-field>
            <input matInput placeholder="Account Number">
    </mat-form-field>
  

  </div>

<h3></h3>
<div class="example-button-row">
  <button mat-raised-button color="primary">Transfer</button>
</div>