<style>
    #hed1 {
        text-align: center
    }
</style>

<!-- <body>
        <h1 id="hed1">User List</h1>
    </body> -->

<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="this.dataSource">

        <!-- Last Name -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Number </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- First Name -->
        <ng-container matColumnDef="transactionID">
            <th mat-header-cell *matHeaderCellDef> Transaction ID# </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionID}} </td>
        </ng-container>

        <!-- Account Number -->
        <ng-container matColumnDef="senderAccountNum">
            <th mat-header-cell *matHeaderCellDef> Sender Account Number </th>
            <td mat-cell *matCellDef="let element"> {{element.senderAccountNum}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="senderRoutingNum">
            <th mat-header-cell *matHeaderCellDef> Sender Routing# </th>
            <td mat-cell *matCellDef="let element"> {{element.senderRoutingNum}} </td>
        </ng-container>

        <ng-container matColumnDef="receiverAccountNum">
            <th mat-header-cell *matHeaderCellDef> Receiver Account# </th>
            <td mat-cell *matCellDef="let element"> {{element.receiverAccountNum}} </td>
        </ng-container>

        <ng-container matColumnDef="receiverRoutingNum">
            <th mat-header-cell *matHeaderCellDef> Receiver Routing# </th>
            <td mat-cell *matCellDef="let element"> {{element.receiverRoutingNum}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>